button {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: $goldenColor;
  color: $whiteColor;
  &:hover {
    cursor: pointer;
    background-color: lighten($goldenColor, 10%);
  }
}

.block {
  @include flex (space-between);
  width: 90%;
  height: 608px;
  margin: 0 auto;
  @media (max-width: 768px) {
    flex-direction: column;
    width: 95%;
  }
}

.box {
  width: 30%;
  height: 600px;
  background-color: $goldenColor;
  @media (max-width: 768px) {
    width: 50%;
    &:not(:first-of-type) {
      margin-top: 59px;
    }
  }
  @media (max-width: 375px) {
    width: 100%;
  }
}