$darkColor: #131313;
$lightColor: #fff;
$thirdColor: #e3b873;
$goldenColor: #e3b873;
$whiteColor: #fff;

$temporaryBorder: 1px dashed black;
$secondTemporaryBorder: 1px dashed $thirdColor;

@mixin flex($justify, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.temporarySPAN {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  color: $thirdColor;
}