* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.temporarySPAN {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  color: #e3b873;
}

button {
  width: 200px;
  height: 50px;
  padding: 20px 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #e3b873;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #ecce9e;
}

.header {
  position: relative;
  padding-top: 20px;
  background-color: #131313;
  height: 830px;
  border: 1px dashed black;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 80px;
}

.header__top * {
  border: 1px dashed #e3b873;
}

.header__top .logo {
  width: 180px;
}

.header__top nav {
  width: 580px;
}

.header__top .block-phone {
  width: 125px;
}

.header__aside {
  width: 80px;
  height: 707px;
  border: 1px dashed #e3b873;
}

.header__promo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 707px;
  border: 1px dashed #e3b873;
}

@media (max-width: 768px) {
  .header__top {
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header__top nav {
    display: none;
  }
  .header__top button {
    display: none;
  }
  .header__aside {
    display: none;
  }
}

header .flex {
  margin-top: 20px;
}

.completed-projects {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), color-stop(60%, #131313));
  background-image: linear-gradient(to bottom, #fff 60%, #131313 60%);
  height: 1700px;
  border: 1px dashed black;
}

.types-of-repair {
  position: relative;
  background-color: #fff;
  height: 1700px;
  border: 1px dashed black;
}

.your-fantasies {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #fff), color-stop(15%, #131313), color-stop(90%, #131313), color-stop(90%, #fff));
  background-image: linear-gradient(to bottom, #fff 15%, #131313 15%, #131313 90%, #fff 90%);
  height: 1020px;
  border: 1px dashed black;
}

.design-project {
  position: relative;
  background-color: #131313;
  height: 1700px;
  border: 1px dashed black;
}

.our-team {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #131313));
  background-image: linear-gradient(to bottom, #fff 50%, #131313 50%);
  height: 920px;
  border: 1px dashed black;
}

.our-clients {
  position: relative;
  background-color: #fff;
  height: 800px;
  border: 1px dashed black;
}

.questions {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff), color-stop(25%, #131313));
  background-image: linear-gradient(to bottom, #fff 25%, #131313 25%);
  height: 1180px;
  border: 1px dashed black;
}

footer {
  position: relative;
  background-color: #131313;
  height: 135px;
  border: 1px dashed black;
}

body {
  color: #e3b873;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 100%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-beetwen;
      -ms-flex-pack: space-beetwen;
          justify-content: space-beetwen;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=main.css.map */