* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.wrapper {
  width: 1440px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 100%;
  }
  border: 2px dashed greenyellow;
} 

@import "sass/_variables";
@import "sass/_components";
@import "sass/_layout";


body {
  color: $thirdColor;
}

h1 {
  display: block;
  width: 1px;
  height: 1px;
  opacity: 0;
}