* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

@import "sass/_variables";
@import "sass/_components";
@import "sass/_layout";

body {
  color:$thirdColor;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 100%;
  }
} 

.flex {
  @include flex(space-beetwen);
}